<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles_grades.css">
  <title>Proyectos de Gestión</title>
</head>

<body>
  <div class="container">
    <header class="header">
      <nav class="navigation-bar">
        <div class="image">
          <a href="https://www.ucundinamarca.edu.co/" target="_blank"><img src="/img/logo_universidad_completo.png" /
              alt="Logo Universidad" width="150px"></a>
        </div>
        <div class="links">
          <ul>
            <li><a href="/students/main">Página Principal</a></li>
            <li><a href="/students/projects">Entregar Proyectos</a></li>
            <li><a href="/students/grades">Consultar Nota</a></li>
          </ul>
        </div>
        <div class="user">
          <img src="/img/imagen_perfil.png" alt="Logo perfil" id="profile-icon">
          <div class="dropdown" id="dropdown-menu">
            <div class="dropdown-menu">
              <div class="dropdown-name">
                <h4>Hola, <%= user.name %>
                </h4>
                <img src="/img/image_greeting.png" alt="greeting-image">
              </div>
              <div class="dropdown-options">
                <div class="dropdown-options-password">
                  <a href="#">Cambiar Contraseña</a>
                </div>
                <div class="dropdown-options-logout">
                  <a href="#">Cerrar sesión</a>
                </div>
              </div>

              <p class="dropdown-email">
                <%= user.email%>
              </p>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <% if (!userProject) { %>
      <div class="display-info">
        <h1>CALIFICACIÓN PROYECTO DE GESTIÓN</h1>
        <p class="main-text">AÚN NO SE HA REALIZADO NINGÚN ENVIO</p>
      </div>
      <% } else if(userProject) {%>


        <div class="display-info">

          <h1>CALIFICACIÓN PROYECTO DE GESTIÓN</h1>
          <p class="main-text">Descargar Proyecto</p>
          <div class="img-project">
            <a href="<%= userProject.fileUrl.replace('dl=0','dl=1' )%>"><img src="/img/imagen_pdf.png" alt="logo-pdf">
            </a>
          </div>
          <ul>
            <li><span class="main-text">Nombre del proyecto:</span>
              <%= userProject.projectName %>
            </li>
            <li><span class="main-text">Email:</span>
              <%= userProject.email1 %>
            </li>
            <% if ( userProject.email2) { %>
              <li><span class="main-text">Email:</span>
                <%= userProject.email2 %>
              </li>
              <% } %>
                <li><span class="main-text">Ciclo:</span>
                  <%= userProject.ciclo %>
                </li>
                <% if ( userProject.calificado==='NO' ) { %>
                  <li style="color:red"><span class="main-text">Calificado:</span>
                    <%= userProject.calificado %>
                  </li>
                  <% } else { %>
                    <li style="color:green"><span class="main-text">Calificado:</span>
                      <%= userProject.calificado %>
                    </li>
                    <% } %>

                      <% if ( userProject.nota !=='0' ) { %>
                        <li><span class="main-text">Nota:</span>
                          <%= userProject.nota %>
                        </li>
                        <li><span class="main-text">Observaciones:</span>
                          <%= userProject.observaciones %>
                        </li>
                        <% } %>

                          <% if (date !=='' ) { %>
                            <li><span class="main-text">Fecha de entrega:</span>
                              <%= date %>
                            </li>
                            <% } %>
          </ul>

        </div>
        <% } %>

  </div>
  <script src="/scripts/script_grades.js"></script>
  
  <script src="/scripts/script_header.js" type="module"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>